<body class="atras">
    <%- include('../includes/header.ejs', {titulo: 'Adicionar Categoria'}) %>
<body>
    <main>
        <h2 class="text-center">Adicionar Nova Categoria</h2>
        <form action="/categorias/novo" method="post" class="form">
            <div class="form-group">
                <label for="nome_categoria">Nome da categoria: </label>
                <input type="text" id="nome_categoria" name="nome_categoria" required>
            </div>
            <button type="submit" class="btn btn-primary bAdi border-white"> Adicionar </button>
            <a href="/categorias" class="btn btn-secondary bEx border-white"> Cancelar </a>
        </form>
    </main>
</body>
<%- include('../includes/footer.ejs') %>
</body>